[submodule "CMSim/vendor/spdlog"]
	path = CMSim/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CMSim/vendor/GLFW"]
	path = CMSim/vendor/GLFW
	url = https://github.com/Johnsonait/glfw
